<h1>Welcome to Bao Ngo's Homepage</h1>
<br>
<p>
  After 19+ years in Qatar, I leaving the country and <a href="https://www.noc.qa">North Oil Company - NOC</a> in July
  2026. It was a decision I made after thoughtful reflection and preparation with my Family, Manager and Team. I am
  forever grateful for the support, encouragement, and gracious sendoff Engineering & Construction provided as I made
  this huge change for my family.
</p>

<p>
  I am even more grateful for the experience and friendship that I had while at NOC and
  <a href="https://x.com/maerskoilqatar"> Maersk Oil Qatar - MOQ</a>. For those that I missed in my email send off, or
  those that have already left NOC and MOQ: thank you for your collaboration and shared commitment to the companies and
  industry we served. Please stay in touch as I cheer
  <i
    >Intuitive on from the school pickup line, little league/flag football/basketball sidelines (or bench if I am
    coaching)</i
  >, and at home.
</p>
<hr>
<h2>Latest Posts</h2>
<hr>
